$glow-blue: rgb(87, 156, 206);
$glow-blue-peak: rgb(100, 144, 220);
$glow-yellow: rgba(206, 160, 87);
$glow-yellow-peak: rgba(220, 175, 100);
$glow-white:rgb(233, 233, 233);
$glow-white-peak: rgb(255, 255, 255);
$glow-green:rgb(20, 193, 32);
$glow-green-peak: rgb(35, 229, 48);


@mixin glow-pulse($name, $color, $color-peak, $duration: 5s) {
	box-shadow:
		0 0 10px 3px rgba($color, 0.7),
		0 0 30px 8px rgba($color, 0.25);
	animation: #{$name} $duration ease-in-out infinite alternate;

	@keyframes #{$name} {
		from {
			box-shadow:
				0 0 10px 3px rgba($color, 0.7),
				0 0 30px 8px rgba($color, 0.25);
		}
		to {
			box-shadow:
				0 0 14px 5px rgba($color-peak, 0.8),
				0 0 38px 10px rgba($color-peak, 0.3);
		}
	}
}

.glow-blue {
	@include glow-pulse(glow-blue, $glow-blue, $glow-blue-peak, 3s);
}

.glow-yellow {
	@include glow-pulse(glow-yellow, $glow-yellow, $glow-yellow-peak, 3s);
}

.glow-white{
	@include glow-pulse(glow-white, $glow-white, $glow-white-peak, 3s);
}

.glow-green{
	@include glow-pulse(glow-green, $glow-green, $glow-green-peak, 3s);
}
