*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $barlow;
}

html,
body {
	background-color: $grey-light;
	min-height: 100vh;
	overflow-x: hidden;
	scrollbar-width: none; /* Firefox 64+ */
	-ms-overflow-style: none; /* IE and Edge */
	::-webkit-scrollbar{
		display: none;
	}
}

li{
	list-style: none;
}

.icon{
	display: flex;
	justify-content: center;
	align-items: center	;
}

.button{
	font-size: 0.8rem;
	text-decoration: none;
	&.primary{
		padding: 10px;
		border: none;
		border-radius: 2px;
		width: 200px;
		transition: 250ms ease all;
    background-color: $primary;
    color: $white;
    &:hover{
			cursor: pointer;
      background-color: $black;
    }
	}
	&.ghost{
		border: none;
		padding: 10px;
		background-color: inherit;
		font-weight: 500;
		&:hover{
			cursor: pointer;
			color: $primary !important;
		}
	}
}

::placeholder {
	color: inherit;
	opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder {
	color: inherit;
	opacity: 0.8; /* Edge 12 - 18 */
}

// fix auto-zooming on input fields
@media (max-width: $breakpoint-mobile) {
	input,
	select:focus,
	textarea {
		font-size: 16px !important;
	}
}