*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $barlow;
}

html,
body {
	background-color: #483f4a;
	min-height: 100vh;
	overflow-x: hidden;
	scrollbar-width: none; /* Firefox 64+ */
	-ms-overflow-style: none; /* IE and Edge */
	::-webkit-scrollbar{
		display: none;
	}
}

a{
	color: $primary;
}

li{
	list-style: none;
}

.icon{
	display: flex;
	justify-content: center;
	align-items: center	;
}

.button{
	font-size: 0.8rem;
	text-decoration: none;
	&.primary{
		padding: 10px;
		border: none;
		border-radius: 2px;
		width: 200px;
		transition: 250ms ease all;
		background-color: $primary;
		color: $white;
		&:hover{
			cursor: pointer;
			background-color: #5a6188;
		}
	}
	&.secondary{
		padding: 10px;
		border: none;
		border-radius: 2px;
		width: 200px;
		transition: 250ms ease all;
		border: 1px solid $grey-mid;
		background-color: transparent;
		&:hover{
			background-color: $grey-mid;
			color: $white;
		}
	}
	
	&.ghost{
		border: none;
		padding: 10px;
		background-color: inherit;
		font-weight: 500;
		&:hover{
			cursor: pointer;
			color: $primary !important;
		}
	}
	&:disabled {
		color: $primary;
		background-color: white;
		border: $primary;
		cursor: default;
		pointer-events: none;
		opacity: 0.6;
		&:hover {
			background-color: white;
			color: $primary;
		}
	}
}

::placeholder {
	color: inherit;
	opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder {
	color: inherit;
	opacity: 0.8; /* Edge 12 - 18 */
}