// neutral tones
$white: #f2eae4;
$black: #222222;
$grey-ultralight: #dfcebf;
$grey-light: rgb(198, 183, 170);
$grey-mid: #b4a598;
$grey-dark: #9d8b7c;
$grey-ultradark: #847668;
$grey-black: #2a221c;

// style colors
$primary: rgb(220, 90, 20);
$secondary: #8b9765;

// status colors
$ok: #5ebe23;
$warning: #ffab00;
$danger: #fc2b18;
$info: #3434d9;

$border-radius-lg: 20px;
$border-radius-md: 10px;
$border-radius-sm: 5px;

$box-shadow-primary: rgba(0, 0, 0, 0.8) 0px 3px 8px;
$box-shadow-secondary: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
$box-shadow-tertiary: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
	rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');
$barlow: 'Barlow', sans-serif;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1200px;
